<div class="PiePagina">
    <p>
        <img class ="logo1" src="https://th.bing.com/th/id/OIP.5BraEnm0ddhXNs7nAVhQcQHaCc?pid=ImgDet&rs=1">
    </p>
    <ul class="menu1">
    
    <p>Un lenguaje de programación es un lenguaje diseñado para 
        describir el conjunto de acciones consecutivas que un 
        equipo debe ejecutar. Por lo tanto, un lenguaje de programación 
        es un modo práctico para que los seres humanos puedan dar 
        instrucciones a un equipo. Por otro lado, el término "lenguaje 
        natural" define un medio de comunicación compartido por un grupo 
        de personas (por ejemplo: inglés o francés).
        Una buena muestra de la evolución del mundo TI es la aparición 
        de nuevos lenguajes de programación. Si estás buscando escribir 
        tu primera línea de código, seguro te estás preguntando cuáles 
        son los lenguajes de programación más utilizados o cuántos lenguajes 
        de programación existen. 

        Si quieres introducirte en este mundo o abrirte a mejores campos 
        laborales, debes conocer cuáles son los mejores lenguajes de programación 
        y, así, decidir qué tecnología aprender, sobre todo, si estás iniciando
         tu carrera en la industria del desarrollo web. 
    </p>
    </ul>
</div>
