<div class="contenedor">
     <p>
        <img class="logo" src="https://alanhinojosa.files.wordpress.com/2016/12/1_intro_programacion.jpg?w=1232">
    </p>
    <ul class="menu">
        <p>La programación informática es el arte del proceso por el cual se limpia, 
            codifica, traza y protege el código fuente de programas computacionales, 
            en otras palabras, es indicarle a la computadora lo que tiene que hacer. 
    
            La programación informática es una de las habilidades esenciales que 
            aprendes cuando estudias informática.
     
    
            Detrás de todos los programas informáticos que conocemos y usamos de 
            manera cotidiana para facilitarnos diversas actividades de nuestro día 
            con día, existe todo un proceso para poderlos crear. Este proceso es 
            conocido como programación, conozcamos un poco más sobre lo que conlleva 
            este proceso.
    
            Por medio de la programación se establecen los pasos a seguir para la 
            creación del código fuente de los diversos programas informáticos.

            
            La programación se guía por una serie de normas y un conjunto de órdenes, 
            instrucciones y expresiones que tienden a ser semejantes a una lengua natural 
            acotada. Por lo cual recibe el nombre de lenguaje de programación. Y así 
            como en los idiomas también en la informática existen diversos lenguajes de 
            programación.
         </p>
    </ul>
</div>